@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');
:root{
    --theme-color:#6fc6c9;  }
.navbar{
    display: grid;
   grid-template-columns:repeat(3,1fr) ;
   border-bottom: solid var(--theme-color);
     box-shadow: 0 3px 8px rgba(106, 186, 190, 0.5);
  overflow: hidden;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 3%;
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    margin: auto;
}
.logo{
    margin: auto;
  
}
.icons{
    margin: auto;
}
.icons ul{
    padding: 0;
    margin: 0;
    gap: 20%;
}

.container{
    width: 100%;
    margin-top: 15%;
    margin-left: 3%;
    background-image: url(../images/bg.png);
       display: grid;
   grid-template-columns:repeat(2,1fr);
    .para1{
    margin: 5% 0 5% 0;
}
.colored-title{
    color: var(--theme-color);
}
button{
    background-color: var(--theme-color) !important;
    border: #6fc6c9;
    padding: 1%;
    color: white;

}
.photo{
    margin: auto;
}
}

